/DiceTest.class
/PermTest.class
/CombTest.class
/SubsetTest.class
/JustTest.class
/SubSet_BinaryCountingTest.class
/MeetingRoomTest.class
/MeetingRoomTest$Meeting.class
/CoinVendingMachineTest.class
/SquareNumberTest.class
/Main.class
/Main$ChemicalSubstance.class
